<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.argon.wenfeng"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    
    <application
        android:name="com.argon.wenfeng.activity.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.argon.wenfeng.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.argon.wenfeng.activity" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.argon.wenfeng.activity.ItemDetailActivity"
            android:label="@string/title_activity_item"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.argon.wenfeng.activity.AboutActivity"
            android:label="@string/title_activity_about" />
        
        <activity android:name="com.umeng.fb.ui.SendFeedback"
		    android:windowSoftInputMode="adjustResize" />
		<activity android:name="com.umeng.fb.ui.FeedbackConversations" />
		<activity android:name="com.umeng.fb.ui.FeedbackConversation"
		    android:configChanges="keyboard" />

        
        <meta-data android:value="5152c26756240b4c84008504" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="github" android:name="UMENG_CHANNEL"/>
        
    </application>

</manifest>